* {
  font-family: Open Sans;
  font-style: bold;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.create-card {
  display: flex;
  height: 40%;
  background-color: #A9AAD2;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.create-title {
  height: 10%;
  margin-left: 59.5%;
}

h4 {
  height: 10%;
  margin-top: 0%;
  color: #1F1F3D;
}

#title {
  width: 40%;
  height: 1000%;
  margin-top: 2%;
  border: solid;
  border-color: #5356A4;
  border-width: thin;
  border-radius: 3px;
}

#body {
  width: 40%;
  height: 200%;
  margin-top: 2%;
  border: solid;
  border-color: #5356A4;
  border-width: thin;
  border-radius: 3px;
}

.create-body {
  height: 10%;
  margin-left: 59.5%;
  margin-bottom: 4%;
}

.save-card {
  background-color: #1F1F3D;
  color: #ffffff;
  width: 40%;
  height: 10%;
  border: solid;
  border-color: #5356A4;
  border-width: thin;
  border-radius: 3px;
}

.search-bar {
  display:flex;
  width: 40%;
  height: 10%;
}

#search {
  width: 75%;
  height: 95%;
  border: solid;
  border-color: #5356A4;
  border-width: thin;
  border-left: none;
  border-radius: 3px;
}

::placeholder {
    color: #A9AAD2;
}

.search-button {
  background-color: #1F1F3D;
  width: 25%;
  border: solid;
  border-color: #5356A4;
  border-width: thin;
  border-right: none;
  border-radius: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.fav-or-delete {
  display: flex;
}

.idea-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
  background-color: #EAEAF4;
}

.card {
  width: 30%;
  height: 40%;
  border: solid;
  border-width: thin;
}

.fav-or-delete {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border: none;
  height: 20%;
}

.star {
  display: flex;
  /* justify-content: flex-start;  */
  border-color: black;
  height: 80%;
  width: 80%;
}

.delete {
  border-color: black;
}

.card-body {
  height: 280%;
}

.hidden {
  display: none;
}

.filter-ideas {
  display: flex;
  flex-direction: column;
  /* align-self: flex-start; */
  width: 30%;
  background-color: #1F1F3D;
  color: #ffffff;
}


h1 {
  height: 10%;
  margin-left: 5%;
  margin-top: 5%;
}

h2 {
  height: 2%;
  font-size: 80%;
  margin-top: 7.5%;
  margin-left: 5%;
}

hr {
  height: 1px;
  border: none;
  background-color: #353567;
}

.show-starred {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 120%;
  height: 6%;
  width: 80%;
  color: #E9E9F3;
  background-color: #5356A4;
  border-color: #353567;
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  padding-top: 1%;

}
